spring:
  datasource:
    url: jdbc:postgresql://10.139.14.251:5432/taskdb
    username: admin
    password: password123
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
    com.appbee.platform: DEBUG
