spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/appbee
    username: appbee
    password: appbee
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
    com.appbee.platform: DEBUG
